footer
  .footer-top
    .container
      .footer__menu
        a(href="").logo
          //- img(src="@img/svg/logo.svg", alt="Логотип") 
          .logo__text jocato
        nav
          ul 
            li: a(href="catalog.html") Каталог
            li: a(href="about.html") О нас
            li: a(href="index.html#contact") Контакты
            li: a(href="") Доставка и оплата
          .footer__side
            .side-text 
              a(href="tel:+79134005588") +7 913 400-55-88
            .side-text
              a(href="chayka1968@yandex.ru") chayka1968@yandex.ru
            .side-text 
              a(href="https://goo.gl/maps/UxjJGjhujvXZFFaT6") г. Новокузнецк, ул.Курако, 51А, кор.14
            .socials 
              a(href="https://vk.com/public207126746")
                img(src="@img/svg/VK-white.svg", alt="Вконтакте")
              a(href="") 
                img(src="@img/svg/Telegram-white.svg", alt="Телеграм")
              a(href="") 
                img(src="@img/svg/WhatsApp-white.svg", alt="Вотсапп")
              a(href="") 
                img(src="@img/svg/Viber-white.svg", alt="Вайбер")
  hr
  .footer-bottom
    .container
      .side-text © JOCATO, 2022
      .side-text.author Разработка сайта - 
        a(href="https://t.me/yarponomarev") Пономарёв Ярослав