header
  .header__wrap 
    .hamb 
      #hamb.hamb__field
        span
        span 
        span
    a(href="").logo
      img(src="@img/svg/logo.svg", alt="Логотип")
      span jocato
    ul#menu 
      li: a(href="catalog.html") Каталог
      li: a(href="about.html") О нас
      li: a(href="#contact") Контакты
      li: a(href="") Доставка и оплата
    a(href="tel:89134005588").phone
      img(src="@img/svg/phone40.svg", alt="Телефон") 
      span +8 913 400-55-88
.popup