header.header2
  .menu-section
    .header__wrap 
      .hamb 
        #hamb.hamb__field
          span
          span 
          span
      a(href="index.html").logo
        img(src="@img/svg/logo.svg", alt="Логотип")
        span jocato
      ul#menu.menu
        li: a(href="catalog.html") Каталог
        li: a(href="about.html") О нас
        li: a(href="index.html#contact") Контакты
        li: a(href="delivery.html") Доставка и оплата
      a(href="").basket
        img(src="@img/svg/basket.svg", alt="Корзина")
#popup.popup