doctype html
html(lang="ru")
	block vars
	include ../includes/_head

	body(class= bodyClass)
		include ../includes/_header
			
		block content
			

			
		if !footer
			include ../includes/_footer
			script(src="https://kit.fontawesome.com/fce9a50d02.js" crossorigin="anonymous")
			script(src="js/app.min.js")