extends html/layout/_foothead
block vars
  - var pageName = 'JOCATO - О нас'

block content
  .page-content
    section.about 
      .container
        h1 о нас
        .about__text 
          p Все началось с большой любви каждого изнас к натуральной коже. Эта любовь объединила нас в команду  из профессионалов, много лет работающих с кожей, и новичков, восхищенных ее живым теплом, природным характером и красотой.
          p В кожаные вещи «Джокато» мы вкладываем опыт советской кожевенной мануфактуры и дерзкий взгляд современной декорации. 
          p Натуральная кожа – наша основа, которую мы свободно развиваем и сочетаем с другими природными материалами.   
          p Вы тоже влюблены в натуральную кожу? Закажите вещь на свой вкус в Джокато - и станьте соавтором наших изделий!
        .about__img
          img(src="@img/aboutimg1.png", alt="Картинка О нас")
          img(src="@img/aboutimg2.png", alt="Картинка О нас")