extends html/layout/_footerheader2
block vars
  - var pageName = 'Картхолдер'

block content
  .page-content
    section.product 
      .container
        .catalog__menu
          ul 
            li: a(href="catalog.html#cash") Кошельки
            li: a(href="catalog.html#sum") Сумки
            li: a(href="catalog.html#rem") Ремни
            li: a(href="catalog.html#acs") Аксессуары
        .product__info

          .product__info-main 
            .product__title Картхолдер
            .product__img 
              .swiper.mySwiper
                .swiper-wrapper 
                  .swiper-slide
                    img(src="@img/catalog/acces-item2.jpg", alt="")
                  .swiper-slide
                    img(src="@img/catalog/acces-item22.jpg", alt="")
                .swiper-pagination
            .products__item-buttons
              button 
                a(href="order.html") заказать

          .product__info-sidebar
            .product__title Описание:
            p Картхолдер ручной работы из кожи растительного дубления зелёного цвета. В наличии модель зелёного и ярко-мандаринового цвета. При индивидуальном заказе размеры, цвет и структуру кожи выберем по запросу заказчика.
            ul 
              li Материал: натуральная кожа.
              li Характеристики: при индивидуальном заказе размеры изделия,  дополнительные опции и варианты обсуждаются.
              li Цвет: возможно исполнение в любом цвете.
              li Уход: натуральная кожа прослужит вам долгие годы, если вы будете использовать специальные средства для ухода за натуральной кожей.
            .products__item-check 
              span В наличии
              img(src="@img/ic20-check.svg", alt="")
            .products__item-price Цена: 1850 ₽