extends html/layout/_footerheader2
block vars
  - var pageName = 'JOCATO - Каталог'

block content
  .page-content
    section.catalog 
      .container
        h1 каталог
        .catalog__wrapper
          a(href="leather.html")
            img(src="@img/catalog/coat.png", alt="Изделия из кожи")
            p изделия из кожи
          a(href="automobile.html")
            img(src="@img/catalog/rule.png", alt="Услуги для автомобилей")
            p услуги для автомобилей