extends html/layout/_footerheader2
block vars
  - var pageName = 'JOCATO - Изделия из кожи'

block content
  .page-content
    section.catalog
      .container
        .catalog__menu
          h1 изделия из кожи
          ul 
            li: a(href="#cash") Кошельки
            li: a(href="#sum") Сумки
            li: a(href="#rem") Ремни
            li: a(href="#acs") Аксессуары
        #cash.catalog__item
          h2 кошельки
          .products
            .products__item
              img(src="@img/catalog/coshel-item13.png", alt="")
              .products__item-content 
                .products__item-title Кожаный кошелек
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 3000 ₽
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="coshel-item-1.html") подробнее

        #sum.catalog__item
          h2 сумки
          .products
            .products__item
              img(src="@img/catalog/bag-item33.png", alt="")
              .products__item-content 
                .products__item-title Сумка Анна
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 6000 ₽
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="bag-item-1.html") подробнее

            .products__item
              img(src="@img/catalog/bag-item42.jpg", alt="")
              .products__item-content 
                .products__item-title Сумка Анна
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 6000 ₽
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="bag-item-2.html") подробнее

            .products__item
              img(src="@img/catalog/bag-item53.jpg", alt="")
              .products__item-content 
                .products__item-title Сумка Валентина
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 10000 ₽
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="bag-item-3.html") подробнее

            .products__item
              img(src="@img/catalog/bag-item62.png", alt="")
              .products__item-content 
                .products__item-title Мужская сумка
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 15000 ₽
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="bag-item-5.html") подробнее

            .products__item
              img(src="@img/catalog/bag-item7.png", alt="")
              .products__item-content 
                .products__item-title Женский клатч
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 10000 ₽
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="bag-item-6.html") подробнее

            .products__item
              img(src="@img/catalog/bag-item8.png", alt="")
              .products__item-content 
                .products__item-title Сумка Евгения
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 10000 ₽
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="bag-item-7.html") подробнее

            .products__item
              img(src="@img/catalog/bag-item21.jpg", alt="")
              .products__item-content 
                .products__item-title Сумка для телефона
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 10000 ₽
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="bag-item-4.html") подробнее
                
        #rem.catalog__item
          h2 ремни
          .products
            .products__item
              img(src="@img/catalog/remen-item1.png", alt="")
              .products__item-content 
                .products__item-title Кожаный ремень
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 5000 ₽
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="remen-item-1.html") подробнее

            .products__item
              img(src="@img/catalog/remen-item22.png", alt="")
              .products__item-content 
                .products__item-title Кожаный ремень
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 5000 ₽
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="remen-item-2.html") подробнее

            .products__item
              img(src="@img/catalog/remen-item3.png", alt="")
              .products__item-content 
                .products__item-title Кожаный ремень
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 5000 ₽
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="remen-item-3.html") подробнее

            .products__item
              img(src="@img/catalog/remen-item6.png", alt="")
              .products__item-content 
                .products__item-title Женский кожаный ремень
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 5000 ₽
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="remen-item-4.html") подробнее
              
            .products__item
              img(src="@img/catalog/remen-item5.png", alt="")
              .products__item-content 
                .products__item-title Кожаный ремень
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 5000 ₽
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="remen-item-5.html") подробнее

            .products__item
              img(src="@img/catalog/remen-item4.png", alt="")
              .products__item-content 
                .products__item-title Кожаный ремень
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 7000 ₽
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="remen-item-6.html") подробнее

            .products__item
              img(src="@img/catalog/remen-item7.png", alt="")
              .products__item-content 
                .products__item-title Кожаный ремень
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 5000 ₽
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="remen-item-7.html") подробнее
            
            .products__item
              img(src="@img/catalog/remen-item8.png", alt="")
              .products__item-content 
                .products__item-title Кожаный ремень
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 5000 ₽
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="remen-item-8.html") подробнее

        #acs.catalog__item
          h2 аксессуары
          .products
            .products__item
              img(src="@img/catalog/acces-item1.png", alt="")
              .products__item-content 
                .products__item-title Брелки
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 1000 ₽ шт.
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="") подробнее

            .products__item
              img(src="@img/catalog/acces-item33.jpg", alt="")
              .products__item-content 
                .products__item-title Футляр для шомполов
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 9000 ₽.
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="acces-item-1.html") подробнее

            .products__item
              img(src="@img/catalog/acces-item2.jpg", alt="")
              .products__item-content 
                .products__item-title Картхолдер
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price 1850 ₽.
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="acces-item-2.html") подробнее

            .products__item
              img(src="@img/catalog/acces-item-3.png", alt="")
              .products__item-content 
                .products__item-title Обложки на паспорт
                .products__item-check 
                  span В наличии
                  img(src="@img/ic20-check.svg", alt="")
                .products__item-price Цена: 2000 ₽ с внутренними отделениями. Без отделений: 1200 ₽.
              .products__item-buttons
                button 
                  a(href="order.html") заказать
                button 
                  a(href="acces-item-3.html") подробнее
              