extends html/layout/_footerheader2
block vars
  - var pageName = 'JOCATO - Каталог'

block content
  .page-content
    section.catalog 
      h1 каталог
      .catalog__block
        a(href="leather.html").hover-text-one 
          figure.effect-text-one 
            img(src="@img/catalog/coat.png", alt="изделия из кожи")
            figcaption
              h3 изделия из кожи
        a(href="automobile.html").hover-text-one 
          figure.effect-text-one 
            img(src="@img/catalog/rule.png", alt="услуги для автомобилей")
            figcaption
              h3 услуги для автомобилей