extends html/layout/_footerheader2
block vars
  - var pageName = 'Кожаный кошелек'

block content
  .page-content
    section.product 
      .container
        .catalog__menu
          ul 
            li: a(href="catalog.html#cash") Кошельки
            li: a(href="catalog.html#sum") Сумки
            li: a(href="catalog.html#rem") Ремни
            li: a(href="catalog.html#acs") Аксессуары
        .product__info

          .product__info-main 
            .product__title Кожаный кошелек
            .product__img 
              .swiper.mySwiper
                .swiper-wrapper 
                  .swiper-slide
                    img(src="@img/catalog/coshel-item13.png", alt="")
                  .swiper-slide
                    img(src="@img/catalog/coshel-item12.png", alt="")
                  .swiper-slide
                    img(src="@img/catalog/coshel-item1.png", alt="")
                .swiper-pagination
            .products__item-buttons
              button 
                a(href="order.html") заказать

          .product__info-sidebar
            .product__title Описание:
            p Кожаный кошелек изготовлен вручную из кожи Лира хромового дубления.  Два отделения под купюры и отдел-перегородка на "молнии" между ними под мелочь. В каждом отделении по три кармашка под купюры и карты. Отделка - крупная строчка толстой нитью по периметру кошелька. При индивидуальном заказе размеры, цвет и структуру кожи выберем по запросу заказчика.
            ul 
              li Материал: натуральная кожа.
              li Характеристики: длина - 12 см. ширина - 10 см.
              li Цвет: Синий металлик.
              li Уход: натуральная кожа прослужит вам долгие годы, если вы будете использовать специальные средства для ухода за натуральной кожей.
            .products__item-check 
              span В наличии
              img(src="@img/ic20-check.svg", alt="")
            .products__item-price Цена: 3000 ₽