extends html/layout/_footerheader2
block vars
  - var pageName = 'JOCATO - Изделия из кожи'

block content
  .page-content
    section.delivery
      .container 
        h1 доставка и оплата
        .delivery__wrapper 
          h2 способы доставки и оплаты
          p Мы доставляем товары почтой в любую точку мира. Есть доставка курьером СДЭК до двери и в пункты выдачи в России, Белоруссии и Казахстане (расчитать стоимость доставки до двери или пункта выдачи можно при оформлнении заказа). <br> <br> Оплатить можно любым удобным вам способом. Если что-то не понравилось, то мы заменим, отремонтируем или возместим стоимость товара. Подробнее – читайте ниже.
          h2.left заказ и оплата
          h3 оплата наличными
          p Вы можете оплатить и забрать товар в мастерской по адресу г. Новокузнецк, Курако, 51А, корпус 14, помещение 3. Подробную схему проезда смотрите в разделе
            a(href="index.html#contact").contacts Контакты
            i . Пожалуйста оповещайте заранее о визите.
          h3 оплата картой по реквизитам 
          p Оплатить заказ можно картой любого банка. <br> По номеру телефона на карту Сбербанка - +7 913 400-55-88. <br> По номеру карты - 
          h2 отправка и доставка
          p Все изделия мы делаем на заказ. Время изготовления индивидуально для каждого заказа. Время отправки - на следующий день после готового изделия. <br> <br> Сроки изготовления могут изменяться в зависимости от нашей загрузки. Если вы хотите получить посылку к дате, то имеет смысл сделать заказ заранее и предупредить нас о сроках. <br> <br> Сроки доставки зависят от населенного пункта, в который производится доставка, и могут изменяться по разным причинам (изменения расписания авиарейсов, местные праздники, погодные условия, дорожная ситуация и пр.) Пожалуйста, отнеситесь с пониманием и терпением, если ваша посылка задерживается. <br> <br> В предпраздничные дни сроки доставки почтовых служб могут быть увеличены.
          h3 доставка по россии
          p Доставка по РФ — Почтой России. Оплата онлайн на сайте или наличными при получении посылки (наложенный платеж или в пункте самовывоза).
          h2.left гарантии
          p Мы даем пожизненную гарантию на шов и функциональное состояние наших кожаных изделий. Если в изделии есть функциональный брак кожи, шва и фурнитуры – то мы ремонтируем его, просто меняем изделие на новое или возмещаем вам его стоимость.
          hr
          p Если у вас остались вопросы, звоните по телефону 
            a(href="tel:89134005588") +7 913 400-55-88
            p и пишите на почту 
              a(href="chayka1968@yandex.ru") chayka1968@yandex.ru