extends html/layout/_footerheader2
block vars
  - var pageName = 'JOCATO - Изделия из кожи'

block content
  .page-content
    section.leather
      .container
        .leather__menu
          h1 изделия из кожи
          ul 
            li: a(href="#cash") Кошельки
            li: a(href="#sum") Сумки
            li: a(href="#rem") Ремни
            li: a(href="#acs") Аксессуары
        #cash.leather__item
          h2 кошельки
          .products
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/soon.png", alt="")

        #sum.leather__item
          h2 сумки
          .products
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item33.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item32.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item31.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item3text.png", alt="")
                  .swiper-pagination
              ul
                li.products__item-name Сумка Анна
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждая сумка Jocato изготовлена мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет на выбор - доступна широкая цветовая палитра;
                li Характеристики: <br> Высота - 21 см; <br> Ширина - 20 см;
                li Цена - 6000₽
              a(href="order.html") 
                button(onclick="document.getElementById('modal01').style.display='none';" title='Close Modal' type='submit') заказать
            
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item43.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item42.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item41.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item3text.png", alt="")
                  .swiper-pagination
              ul
                li.products__item-name Сумка Анна кремового цвета
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждая сумка Jocato изготовлена мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет на выбор - доступна широкая цветовая палитра;
                li Характеристики: <br> Высота - 21 см; <br> Ширина - 20 см;
                li Цена - 6000₽
              a(href="order.html") 
                button(onclick="document.getElementById('modal01').style.display='none';" title='Close Modal' type='submit') заказать
            
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item53.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item52.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item51.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item5text.png", alt="")
                  .swiper-pagination
              ul
                li.products__item-name Сумка Валентина
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждая сумка Jocato изготовлена мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет на выбор - доступна широкая цветовая палитра;
                li Характеристики: <br> Высота - 21 см; <br> Ширина - 20 см;
                li Цена - 10000₽
              a(href="order.html") 
                button(onclick="document.getElementById('modal01').style.display='none';" title='Close Modal' type='submit') заказать
                
        #rem.leather__item
          h2 ремни
          .products
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/soon.png", alt="")

        #acs.leather__item
          h2 аксессуары
          .products
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item1.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item12.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item13.png", alt="")
                  .swiper-pagination
              ul
                li.products__item-name Брелки
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждый брелок Jocato изготовлена мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет на выбор - доступна широкая цветовая палитра;
              a(href="order.html") 
                button(onclick="document.getElementById('modal01').style.display='none';" title='Close Modal' type='submit') заказать

            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item21.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item22.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item23.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item24.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item2text.png", alt="")
                  .swiper-pagination
              ul
                li.products__item-name Мужская ременная сумка для телефона
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждое изделие Jocato изготовлена мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет на выбор - доступна широкая цветовая палитра;
                li Срок изготовления - 1 месяц;
                li Цена - 10000₽
              a(href="order.html") 
                button(onclick="document.getElementById('modal01').style.display='none';" title='Close Modal' type='submit') заказать

            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item31.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item32.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item33.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item3text.png", alt="")
                  .swiper-pagination
              ul
                li.products__item-name Футляр для шомполов для охотничьего ружья
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждое изделие Jocato изготовлена мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет на выбор - доступна широкая цветовая палитра;
                li Цена - 9000₽
              a(href="order.html") 
                button(onclick="document.getElementById('modal01').style.display='none';" title='Close Modal' type='submit') заказать

            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item41.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item42.jpg", alt="")
                  .swiper-pagination
              ul
                li.products__item-name Картхолдер
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждое изделие Jocato изготовлена мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет на выбор - доступна широкая цветовая палитра;
                li Цена - 1850₽
              a(href="order.html") 
                button(onclick="document.getElementById('modal01').style.display='none';" title='Close Modal' type='submit') заказать