extends html/layout/_footerheader2
block vars
  - var pageName = 'JOCATO - Изделия из кожи'

block content
  .page-content
    section.leather
      .container
        .leather__menu
          h1 изделия из кожи
          ul 
            li: a(href="#cash") Кошельки
            li: a(href="#sum") Сумки
            li: a(href="#rem") Ремни
            li: a(href="#acs") Аксессуары
        #cash.leather__item
          h2 кошельки
          .products
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/coshel-item1.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/coshel-item12.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/coshel-item13.png", alt="")
                    .swiper-slide
                      p Кожаный кошелек изготовлен вручную из кожи Лира хромового дубления.  Два отделения под купюры и отдел-перегородка на "молнии" между ними под мелочь. В каждом отделении по три кармашка под купюры и карты. Отделка - крупная строчка толстой нитью по периметру кошелька. Натуральная Кожа прослужит вам долгие годы.
                  .swiper-pagination
              ul
                li.products__item-name Кожаный кошелек из кожи Лира 
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждая сумка Jocato изготовлена мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет на выбор - доступна широкая цветовая палитра;
                li Характеристики: <br> Высота - 12 см; <br> Ширина - 10 см;
                li Индивидуальная подгонка под размер заказчика;
              a(href="order.html") 
                button заказать

        #sum.leather__item
          h2 сумки
          .products
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item33.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item32.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item31.png", alt="")
                    .swiper-slide
                      p Сумка «Анна» из алого флотера ручной работы на ремешке через плечо, с клапаном, на замке «молния», с одним внутренним отделением и наружным карманом на «молнии». Клапан цельнокроенный,  пришивной. Крепление ремешка - на хольнитены.
                  .swiper-pagination
              ul
                li.products__item-name Сумка Анна
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждая сумка Jocato изготовлена мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет на выбор - доступна широкая цветовая палитра;
                li Характеристики: <br> Высота - 21 см; <br> Ширина - 20 см; <br> Длина ремня - от 95 см до 105;
                li Индивидуальная подгонка под размер заказчика;
                li Цена - 6000₽
              a(href="order.html") 
                button заказать
            
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item43.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item42.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item41.jpg", alt="")
                    .swiper-slide
                      p Сумка «Анна» из алого флотера ручной работы на ремешке через плечо, с клапаном, на замке «молния», с одним внутренним отделением и наружным карманом на «молнии». Клапан цельнокроенный,  пришивной. Крепление ремешка - на хольнитены.
                  .swiper-pagination
              ul
                li.products__item-name Сумка Анна кремового цвета
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждая сумка Jocato изготовлена мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет на выбор - доступна широкая цветовая палитра;
                li Характеристики: <br> Высота - 21 см; <br> Ширина - 20 см; <br> Длина ремня - от 95 см до 105;
                li Индивидуальная подгонка под размер заказчика;
                li Цена - 6000₽
              a(href="order.html") 
                button заказать
            
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item53.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item52.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item51.jpg", alt="")
                    .swiper-slide
                      p Сумочка «Валентина» из тонкой кожи растительного дубления цвета темного шоколада с отделкой клапана из кожи  окрасом "под верблюда" подойдёт как для повседневной носки, так и для вечернего выхода. Три внутренних отделения, в том числе срединное - для документов на замке " молния". Два открытых кармана для мелочей и телефона и один "на молнии" - для денег и карточек. Качественная фурнитура.
                  .swiper-pagination
              ul
                li.products__item-name Сумка Валентина
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждая сумка Jocato изготовлена мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет на выбор - доступна широкая цветовая палитра;
                li Характеристики: <br> Высота - 21 см; <br> Ширина - 20 см; <br> Длина ремня - от 80 см до 72;
                li Индивидуальная подгонка под размер заказчика;
                li Цена - 10000₽
              a(href="order.html") 
                button заказать

            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item62.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item64.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item63.png", alt="")
                    .swiper-slide
                      p Искусственная потёртости и дефекты придают этой сумке особый шарм и достоинство. Три отделения "на молнии", четыре кармана, в том числе внешний, "в рамку". Натуральная кожа crazy horse не требует особого ухода. Потёртости и дефекты, образующиеся в процессе эксплуатации изделия, легко удаляются мягкой шерстяной или синтетической тканью. Она прослужит вам долгие годы и станет любимым аксессуаром. Однако кожа crazy horse не любит воздействие влаги, моментально впитывает влагу, поэтому лучше избегать попадания жидкостей на кожу данной обработки.
                  .swiper-pagination
              ul
                li.products__item-name Мужская сумка из кожи Crazy Horse
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждая сумка Jocato изготовлена мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет на выбор - доступна широкая цветовая палитра;
                li Характеристики: Два ремня длиной 120 см и шириной 2 см;
                li Индивидуальная подгонка под размер заказчика;
                li Цена - 15000₽
              a(href="order.html") 
                button заказать

            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item7.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item72.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/bag-item73.png", alt="")
                    .swiper-slide
                      p Женский клатч с лёгким перламутровым отливом хромового дубления производства Италии. Одно отделение  во всю площадь клатча и один карман - в половину размера клатча. Размеры при индивидуальном заказе могут изменяться. Данная модель изготовлена под формат А4. Дополнительно к клатчу мы изготовили ремень на карабинах с регулировкой длины в виде пряжки, которая позволяет использовать клатч как сумку через плечо.
                  .swiper-pagination
              ul
                li.products__item-name Женский клатч из кожи цвета "кофе с молоком"
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждая сумка Jocato изготовлена мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет на выбор - доступна широкая цветовая палитра;
                li Характеристики: Ремень длиной 115 см и шириной 2 см;
                li Индивидуальная подгонка под размер заказчика;
                li Цена - 15000₽
              a(href="order.html") 
                button заказать
                
        #rem.leather__item
          h2 ремни
          .products
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/remen-item1.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/remen-item12.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/remen-item13.png", alt="")
                    .swiper-slide
                      p Кожа растительного дубления производства Италия. Отделка контрастной нитью Zircon производства Индии.. Предназначен для мужчин и женщин. Пряжка: светлый никель, крепление пряжки - на ременные винты. Обработка швов средством  Tokonole производства Японии. Кожаный ремень классического черного цвета - обязательный аксессуар взрослого человека.
                  .swiper-pagination
              ul
                li.products__item-name Кожаный ремень из кожи растительного дубления
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждый ремень Jocato изготовлен мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет - сапфир;
                li Характеристики: <br> Длина - 103 см; <br> Ширина - 4 см; <br> Объём талии - от 78 до 92 см;
                li Индивидуальная подгонка под размер заказчика;
                li Цена - 5000₽
              a(href="order.html") 
                button заказать
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/remen-item2.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/remen-item22.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/remen-item23.png", alt="")
                    .swiper-slide
                      p Пряжка - под бронзу. Крепление пряжки - на ременные винты. Кожа чепрак хромового дубления. Ремень лаконичного стиля, но при этом такой радостной окраски, что просто не сможет остаться в тени, станет ярким дополнением в одежде любого стиля и сезона. Он прослужит вам очень долго, если вы будете пользоваться специальными средствами по уходу за кожаными изделиями.
                  .swiper-pagination
              ul
                li.products__item-name Кожаный ремень из кожи растительного дубления
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждый ремень Jocato изготовлен мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет - охра;
                li Характеристики: <br> Длина - 110 см; <br> Ширина - 3,6 см; <br> Объём талии - от 84 до 99 см;
                li Индивидуальная подгонка под размер заказчика;
                li Цена - 5000₽
              a(href="order.html") 
                button заказать
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/remen-item3.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/remen-item32.png", alt="")
                    .swiper-slide
                      p В сочетании с кожей "под рептилию" классический черный приобретает оттенок лёгкой интриги. Этот ремень прослужит вам верой и правдой долгие годы, если вы отнесётесь к нему с уважением и будете пользоваться специальными средствами для удаления загрязнений и обработки изделий из натуральной кожи.
                  .swiper-pagination
              ul
                li.products__item-name Кожаный ремень из кожи растительного дубления
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждый ремень Jocato изготовлен мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет - черный;
                li Характеристики: <br> Длина - 103 см; <br> Ширина - 4 см; <br> Объём талии - от 78 до 92 см;
                li Индивидуальная подгонка под размер заказчика;
                li Цена - 5000₽
              a(href="order.html") 
                button заказать
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/remen-item4.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/remen-item42.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/remen-item43.png", alt="")
                    .swiper-slide
                      p Лицевая часть - итальянская кожа растительного дубления, изнаночная - кожа хромового дубления. Пряжка автоматическая производства Турции. Отделка: крупная строчка контрастной бежевой нитью.
                  .swiper-pagination
              ul
                li.products__item-name Кожаный ремень из кожи растительного дубления
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждый ремень Jocato изготовлен мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет - коньяк;
                li Характеристики: <br> Длина - 117 см; <br> Ширина - 4 см; <br> Объём талии - от 78 до 92 см;
                li Индивидуальная подгонка под размер заказчика;
                li Цена - 7000₽
              a(href="order.html") 
                button заказать
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/remen-item5.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/remen-item52.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/remen-item53.png", alt="")
                    .swiper-slide
                      p Пряжка: темный никель. Крепление пряжки на ременных болтах. Ремень очень фактурный, стильный, характеный. Он прослужит вам долгие годы. Отлично дополнит как брюки или джинсы, так и платья и юбки в стиле Бохо, а также верхнюю одежду любого сезона. Натуральная кожа не боится высоких и низких температур, но не любит резких перепадов. Специальный уход: средствами для удаления загрязнений и обработки изделий из натуральной кожи.
                  .swiper-pagination
              ul
                li.products__item-name Женский кожаный ремень из кожи растительного дубления
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждый ремень Jocato изготовлен мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет - темный коралл;
                li Характеристики: <br> Длина - 102 см; <br> Ширина - 3,4 см; <br> Объём талии - от 75 до 90 см;
                li Индивидуальная подгонка под размер заказчика;
                li Цена - 5000₽
              a(href="order.html") 
                button заказать
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/remen-item6.png", alt="")
                    .swiper-slide
                      p Пряжка: темный никель.  Ремень лаконичный, строгий. Он прослужит вам очень долго и станет отличным дополнением  как повседневной одежды в деловом  стиле, так и одежды в стиле Бохо. Специальный уход: средствами для удаления загрязнений и обработки изделий из натуральной кожи.
                  .swiper-pagination
              ul
                li.products__item-name Женский кожаный ремень из кожи растительного дубления
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждый ремень Jocato изготовлен мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет - горький шоколад;
                li Характеристики: <br> Длина - 112 см; <br> Ширина - 2 см; <br> Объём талии - от 85 до 101 см;
                li Индивидуальная подгонка под размер заказчика;
                li Цена - 5000₽
              a(href="order.html") 
                button заказать
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/remen-item7.png", alt="")
                    .swiper-slide
                      p Отделка: оригинальная отстрочка контрастной нитью по всей длине. Пряжка: темный никель. Крепление - на ременных винтах. Отделка края ремня - средством для обработки края  Tokonole производства Японии. Этот ремень прослужит вам верой и правдой многие годы, оставаясь вашим любимым аксессуаром на все случаи жизни. Специальный уход: средства для удаления загрязнений и обработки кожаных изделий.
                  .swiper-pagination
              ul
                li.products__item-name Женский кожаный ремень из кожи растительного дубления
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждый ремень Jocato изготовлен мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет - сапфир;
                li Характеристики: <br> Длина - 113 см; <br> Ширина - 4 см; <br> Объём талии - от 91 до 101 см;
                li Индивидуальная подгонка под размер заказчика;
                li Цена - 5000₽
              a(href="order.html") 
                button заказать

        #acs.leather__item
          h2 аксессуары
          .products
            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item1.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item12.png", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item13.png", alt="")
                  .swiper-pagination
              ul
                li.products__item-name Брелки
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждый брелок Jocato изготовлена мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет на выбор - доступна широкая цветовая палитра;
              a(href="order.html") 
                button заказать

            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item21.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item22.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item23.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item24.jpg", alt="")
                    .swiper-slide
                      p Мужская ременная сумка для телефона из кожи растительного дубления ручной работы с отделкой нитью контрастного цвета. Навесы из карабинов, дополнительный крепеж на бедре в виде ремня с пряжкой. При индивидуальном заказе размеры изделия, дополнительные опции и варианты обсуждаются.
                  .swiper-pagination
              ul
                li.products__item-name Мужская ременная сумка для телефона
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждое изделие Jocato изготовлена мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет на выбор - доступна широкая цветовая палитра;
                li Срок изготовления - 1 месяц;
                li Индивидуальная подгонка под размер заказчика;
                li Цена - 10000₽
              a(href="order.html") 
                button заказать

            .products__item
              .product__img 
                .swiper.mySwiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item31.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item32.jpg", alt="")
                    .swiper-slide
                      img(src="@img/catalog/leather/acces-item33.jpg", alt="")
                    .swiper-slide
                      p Футляр для шомполов для охотничьего ружья ручной работы из кожи растительного дубления на кнопках. Отделка - отстрочка толстой нитью. При индивидуальном заказе размеры, модификация и дополнительные опции обсуждаются.
                  .swiper-pagination
              ul
                li.products__item-name Футляр для шомполов для охотничьего ружья
                li В наличии
                  img(src="@img/ic20-check.svg", alt="")
                li Ручная работа - каждое изделие Jocato изготовлена мастером вручную;
                li Натуральная кожа - практичный и долговечный материал;
                li Цвет на выбор - доступна широкая цветовая палитра;
                li Индивидуальная подгонка под размер заказчика;
                li Цена - 9000₽
              a(href="order.html") 
                button заказать

            //- .products__item
            //-   .product__img 
            //-     .swiper.mySwiper
            //-       .swiper-wrapper
            //-         .swiper-slide
            //-           img(src="@img/catalog/leather/acces-item41.jpg", alt="")
            //-         .swiper-slide
            //-           img(src="@img/catalog/leather/acces-item42.jpg", alt="")
            //-       .swiper-pagination
            //-   ul
            //-     li.products__item-name Картхолдер
            //-     li В наличии
            //-       img(src="@img/ic20-check.svg", alt="")
            //-     li Ручная работа - каждое изделие Jocato изготовлена мастером вручную;
            //-     li Натуральная кожа - практичный и долговечный материал;
            //-     li Цвет на выбор - доступна широкая цветовая палитра;
            //-     li Индивидуальная подгонка под размер заказчика;
            //-     li Цена - 1850₽
            //-   a(href="order.html") 
            //-     button заказать