extends html/layout/_footerheader2
block vars
  - var pageName = 'JOCATO - Изделия из кожи'

block content
  .page-content
    section.leather
      .container
        .leather__menu
          h1 изделия из кожи
          ul 
            li: a(href="") Кошельки
            li: a(href="") Сумки
            li: a(href="") Ремни
            li: a(href="") Аксессуары
        .leather__item
          h2 кошельки


        .leather__item
          h2 сумки
          .products
            .product-wrapper
              img(src="@img/catalog/leather/bag-item1.png", alt="")
              .product-name Сумка
              button подробнее
              button заказать
            .product-wrapper
              img(src="@img/catalog/leather/bag-item1.png", alt="")
              .product-name Сумка
              button подробнее
              button заказать
            .product-wrapper
              img(src="@img/catalog/leather/bag-item1.png", alt="")
              .product-name Сумка
              button подробнее
              button заказать
            .product-wrapper
              img(src="@img/catalog/leather/bag-item1.png", alt="")
              .product-name Сумка
              button подробнее
              button заказать
            .product-wrapper
              img(src="@img/catalog/leather/bag-item1.png", alt="")
              .product-name Сумка
              button подробнее
              button заказать
            .product-wrapper
              img(src="@img/catalog/leather/bag-item1.png", alt="")
              .product-name Сумка
              button подробнее
              button заказать
            