extends html/layout/_footerheader2
block vars
  - var pageName = 'JOCATO - Изделия из кожи'

block content
  .page-content
    section.order
      .container 
        h1 сделайте заказ
        form(action="sendmail.php" name="form" method="POST") 
          .form__input 
            input(type="text" name="name" id="name" placeholder="Ваше имя" data-reg="^[А-ЯЁ][а-яё]*$")
          .form__input 
            input(type="text" name="email" id="email" placeholder="Введите email" data-reg="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$")
          .form__input 
            input(type="text" name="phone" id="phone" placeholder="Введите номер телефона" data-reg="^((\+7|7|8)+([0-9]){10})$")
          .form__input.form__message 
            textarea(type="text" name="message" placeholder="Сообщение")
          .button
            input(type="submit" id="button" value="Отправить")