.about {
    margin-top: 100px;
    margin-bottom: 100px;
    .container {
        h1 {
            font-style: normal;
            font-weight: 400;
            font-size: 46px;
            line-height: 56px;
            text-align: right;
            text-transform: uppercase;
        }
        .about__text {
            p {
                max-width: 950px;
                font-style: normal;
                font-weight: 300;
                font-size: 30px;
                line-height: 49px;
            }
        }
        .about__img {
            margin-top: 100px;
            display: flex;
            justify-content: space-between;
            
        }
    }
}