.catalog {
    margin-top: 30px;
    margin-bottom: 50px;
    .container {
        .catalog__menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 56px;
                text-align: left;
                text-transform: uppercase;
                @media(max-width: 1000px) {
                    display: none;
                }
            }
            ul {
                display: flex;
                align-items: center;
                li {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 29px;
                    @media(max-width: $screenS) {
                        font-size: 16px;
                    }
                }
                li:not(:last-child) {
                    margin-right: 20px;
                }
                li:hover {
                    color: #F58F00;
                }
                @media(max-width: 1000px) {
                    margin-top: 50px;
                }
            }
        }
        .catalog__item {
            h2 {
                margin-top: 30px;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 56px;
                text-align: left;
                text-transform: uppercase;
                @media(max-width: $screenS) {
                    font-size: 20px;
                }
            }
            .products {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .products__item {
                    margin-top: 20px;
                    padding: 0px 0px 0px 0px;
                    border: $main 1px solid;
                    img {
                        width: 300px; 
                        height: 400px;
                        border-bottom: $main 1px solid;
                    }
                    .products__item-content {
                        padding: 5px;
                        .products__item-title {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 20px;
                            max-width: 300px;
                        }
                        .products__item-check {
                            display: flex;
                            align-items: center;
                            margin-top: 5px;
                            span {
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                            }
                            img {
                                width: 25px;
                                height: 25px;
                                margin-left: 5px;
                                border: none;
                            }
                        }
                        .products__item-price {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            margin-top: 5px;
                            max-width: 290px;
                        }
                    }
                    .products__item-buttons {
                        display: flex;
                        margin-top: 10px;
                        border-top: $main 1px solid;
                        button {
                            font-weight: 500;
                            font-size: 20px;
                            text-transform: uppercase;
                            width: 50%;
                            padding: 10px 0px;
                            border: none;
                            color: white;
                            background-color: #F58F00;
                        }
                        button:not(:last-child) {
                            margin-right: 0px;
                        }
                        button:hover {
                            color: #000;
                            background-color: #ffffff;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }
}