.catalog {
    margin-top: 60px;
    margin-bottom: 60px;
    @media(max-width: 1000px) {
        margin-top: 100px;
    }
    .container {
        h1 {
            font-style: normal;
            font-weight: 400;
            font-size: 46px;
            line-height: 56px;
            text-align: right;
            text-transform: uppercase;
            @media(max-width: $screenXL) {
                font-size: 40px;
            }
            @media(max-width: $screenL) {
                font-size: 36px;
            }
            @media(max-width: $screenS) {
                font-size: 30px;
            }
        }
        .catalog__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media(max-width: $screenM) {
                flex-wrap: wrap;
            }
            .hover-text-one {
                overflow: hidden;
                max-width: 100%;
                list-style: none;
                text-align: center;
                figure {
                    position: relative;
                    overflow: hidden;
                    background: #1b1e1f;
                    display: inline-block;
                    margin: 0;
                    @media(max-width: $screenL) {
                        display: block;
                    }
                    img {
                        position: relative;
                        display: block;
                        min-height: 100%;
                        opacity: 0.8;
                    }
                    figcaption {
                        color: #fff;
                        text-transform: uppercase;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        &::before, &::after {
                            pointer-events: none;
                        }
                        h3 {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 46px;
                            line-height: 56px;
                            text-align: center;
                            @media(max-width: $screenS) {
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
            figure.effect-text-one {
                img {
                    opacity: 0.7;
                    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                    transition: opacity 0.35s, transform 0.35s;
                    transform: scale(1.2);
                }
                figcaption {
                    top: auto;
                    bottom: 0;
                    height: 60%;
                }
                h3 {
                    color: white !important;
                    -webkit-transition: -webkit-transform 0.35s;
                    transition: transform 0.35s;
                    -webkit-transform: translate3d(0, 40px, 0);
                    transform: translate3d(0, 40px, 0);
                }
                &:hover {
                    img {
                        opacity: 1;
                    }
                    img, h3 {
                        -webkit-transform: translate3d(0, 0, 0);
                        transform: translate3d(0, 0, 0);
                    }
                }
            }
            .hover-text-one {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .hover-text-one:nth-last-child(2) {
                margin-right: 20px;
                @media(max-width: $screenM) {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
}