.catalog {
    margin-top: 60px;
    margin-bottom: 60px;
    .container {
        h1 {
            font-style: normal;
            font-weight: 400;
            font-size: 46px;
            line-height: 56px;
            text-align: right;
            text-transform: uppercase;
            @media(max-width: $screenXL) {
                font-size: 40px;
            }
            @media(max-width: $screenL) {
                font-size: 36px;
            }
            @media(max-width: $screenS) {
                font-size: 30px;
            }
        }
        .catalog__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.2s;
                }
                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 40px;
                    line-height: 48px;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
            a:nth-last-child(2) {
                margin-right: 20px;
            }
        }
    }
}