.leather {
    margin-top: 50px;
    margin-bottom: 50px;
    .container {
        .leather__menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 56px;
                text-align: left;
                text-transform: uppercase;
                @media(max-width: 1000px) {
                    display: none;
                }
            }
            ul {
                display: flex;
                align-items: center;
                li {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 29px;
                    @media(max-width: $screenS) {
                        font-size: 16px;
                    }
                }
                li:not(:last-child) {
                    margin-right: 20px;
                }
                li:hover {
                    color: #F58F00;
                }
                @media(max-width: 1000px) {
                    margin-top: 50px;
                }
            }
        }
        .leather__item {
            h2 {
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 56px;
                text-align: left;
                text-transform: uppercase;
                @media(max-width: $screenS) {
                    font-size: 20px;
                }
            }
        }
        .products {
            margin: 0 -20px 0 0;
            .product-wrapper {
                display: block;
                position: relative;
                width: 250px;
                float: left;
                transition: width .2s;
                display: block;
                margin: 0 20px 20px 0;
                z-index: 0;
                @media(max-width: $screenS) {
                    width: 150px;
                }
                img {
                    width: 250px;
                    height: 350px; 
                    @media(max-width: $screenS) {
                        width: 150px;
                        height: 250px;
                    }
                }
                button {
                    margin-top: 5px;
                    padding: 15px;
                    text-transform: uppercase;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    color: white;
                    background-color: $main;
                    width: 100%;
                    @media(max-width: $screenS) {
                        font-size: 16px;
                    }
                }
                .product-name {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 56px;
                    text-align: left;
                    margin-bottom: 125px;
                    margin-left: 20px;
                    color: white; 
                }
            }
        }
    }
}